.display_card {
  color: rgba(255,255,255,0.75);
  font-size: 18px; 
  padding: 30px;
  display: flex;
  flex-direction: column; 
  background-color: rgba(237,226,128,0.09); 
  border-radius: 30px;
  margin-left: 20px;
  line-height: 32px;
}