<div *ngIf="!data.length" class="text">Loading...</div>
<span class="text">Organizations</span>
<table *ngIf="data.length" class="table_color">
  <div style="padding-top: 10px"></div>
  <tr>
    <th *ngFor="let c of columns" class="table_cell">{{c}}</th>
  </tr>
  <tr *ngFor="let row of data; let i = index">
    <td *ngFor="let column of row" class="table_cell">{{column}}</td>
    <td *ngIf="row[row.length - 1] == '√'" ><button class="btn" (click)="delete(i)">Delete</button></td>
  </tr>
  <div style="padding-top: 10px"></div>
</table>
