<div *ngIf="!submit" style="display: flex; flex-direction: column; margin-bottom: 150px;">
  <span class="text">Organizations</span>
  <div *ngIf="!data.length" class="text">Loading...</div>
  <div *ngIf="data.length">
    <div *ngFor="let row of data" style="margin-bottom: 10px">
      <form style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
        <div style="display: flex;">
          <input class="input_field" type="text" [(ngModel)]="row[0]" name="row[0]" placeholder="Organization Name" required>
          <input style="margin-left: 30px" class="input_field" type="number" [(ngModel)]="row[1]" name="row[2]" placeholder="Concurrent Users" required min="1">
          <input style="margin-left: 30px" class="input_field" type="number" [(ngModel)]="row[1]" name="row[2]" placeholder="Total Users" required min="1">
        </div>
      </form>
    </div>
    <div style="display: flex; justify-content: flex-end;">
      <button class="btn" type="submit"
        (mouseover)="btnText='Submit >'" 
        (mouseout)="btnText='Submit'"
        (click)="onSubmit()">
        {{btnText || 'Submit'}}
      </button>
    </div>
  </div>
</div>


<!-- <div *ngIf="submit" class="submit_text">
  Organization information has been updated.
</div>

<table *ngIf="data.length" class="table_color">
  <div style="padding-top: 10px"></div>
  <tr>
    <th *ngFor="let c of columns" class="table_cell">{{c}}</th>
  </tr>
  <tr *ngFor="let row of data">
    <td *ngFor="let column of row" class="table_cell">{{column}}</td>
  </tr>
  <div style="padding-top: 10px"></div>
</table> -->
