<img src="assets/background.png" style="width: 100%; height: 100%; position: fixed"/>
<div style="width: 100%; height: 100%; position: absolute">
    <nav class='navbar-expand navbar-light'>
        <div style="display: flex; padding-right: 80px; width: 100%">
            <img *ngIf="!logged_in" src="assets/logo.png" class="home_img" routerLinkActive='active' routerLink='/home'/>
            <img *ngIf="logged_in" src="assets/logo.png" class="home_img" routerLinkActive='active' routerLink='/portal'/>
            <ul class='nav nav-pills' style="width:100%; justify-content:flex-end; align-items: center">
                <li class="nav_link">
                    <a class="nav_link_text" routerLinkActive='active' routerLink='/about' [class.active_route]="current_component === '/about'">
                        About
                    </a>
                </li>
                <li class="nav_link"><a class="nav_link_text" routerLinkActive='active' routerLink='/project' [class.active_route]="current_component === '/project'">Project</a></li>
                <li class="nav_link"><a class="nav_link_text" routerLinkActive='active' routerLink='/news' [class.active_route]="current_component === '/news'">News</a></li>
                <li class="nav_link"><a class="nav_link_text" routerLinkActive='active' routerLink='/contact' [class.active_route]="current_component === '/contact'">Contact</a></li>
                <li *ngIf="!logged_in" class="nav_link"><a class="nav_link_text" routerLinkActive='active' routerLink='/signup' [class.active_route]="current_component === '/signup'">Signup</a></li>
                <li *ngIf="!logged_in" class="nav_link"><a class="nav_link_text" routerLinkActive='active' routerLink='/login' [class.active_route]="current_component === '/login'">Login</a></li>
                <li *ngIf="logged_in" class="nav_link"><a class="nav_link_text" routerLinkActive='active' routerLink='/home' (click)="logout()" [class.active_route]="false">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class='container'>
    <router-outlet></router-outlet>
    </div>
    <p style="width:100%;text-align: center; bottom:0px; padding-bottom: 20px;" class="nav_link_text">© 2023 Vital XR Ltd.</p>
</div>
